
.info{
    background-color: #9dc2d5;;
    opacity: 0.55;
    border-radius: 15px;
    box-shadow: rgb(15, 68, 121) 0px 8px 24px;
}


ul{
    border: 4px;
    font-size: 14px;
    font-weight: 400;
    list-style: none;
    text-align: start;}
.currentCity{
    font-size: 40px; 
    font-weight: 100;
    
}
.temperature{
    max-height: 50px;
}
.temp{
    font-size: 40px;
    font-weight: lighter;
   
}
.icon{
    opacity:1;
    width: 50px;

}
